.section-heading {
    h2 {
        font-size: 26px;
        font-weight: 700;
        padding: 10px 15px;
        width: fit-content;
        letter-spacing: 1.3px;
        text-transform: uppercase;
        border: 2px solid purple;
        color: #2169f3;
        background-color: snow;
        margin: auto;
        margin-bottom: 40px;
        border-radius: 2px;
    }
}